:root {
    --main-white: #f0f0f0;
    --main-red: #a3d4f5;
    --main-blue: #45567d;
    --main-gray: #303841;
    --main-pink: #ff0057;
    --main-black: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}


/*-----------------box-sizing and font sizing--------------*/

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    /* Set font size for easy rem calculations
     * default document font size = 16px, 1rem = 16px, 100% = 16px
     * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
    font-size: 62.5%;
    scroll-behavior: smooth;
}


/*-----------------------1200px / 16px = 75em----------------------*/

@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}


/*-------------------980px / 16px = 61.25em------------------------*/

@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}


/*-------------------460px / 16px = 28.75em-------------------------*/

@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}


/*---------------------Base styles--------------------------------*/

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
}

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.2rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-white);
}

img {
    display: block;
    width: 100%;
}
*{
    margin:0;
    padding:0;
    font-family: 'popins',sans-serif;
    box-sizing: border-box;
}
body{
    background: rgb(155,82,207);
    background: linear-gradient(90deg, rgba(155,82,207,0.6615896358543417) 32%, rgba(90,114,215,1) 70%, rgba(0,212,255,1) 100%);
    
}
#header{
    width:100%;
    height:100vh;
   
    background-size: absolute;
    background-position: right;
}
.container{
    
    background-position-x: right;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width : 100;
    top : 0;
    left : 0;
    background: rgb(0,0,0);
background: linear-gradient(127deg, rgba(0,0,0,1) 43%, rgba(44,132,149,1) 100%);
position : sticky;
transition : background 0.3s ease-out;

}

.logo{
    width: 100px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content : '';
    width: 0;
    height: 3px;
    background :#ff004f ;
    position : absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width:100%;

}
.header-image{
    max-width : 600px;
    float : right;
    margin-top : 30px;
}
.header-text{
    margin-top: 0px;
    font-size:30px;
    padding : 9rem;
}
.header-text h1{
    font-size: 50px;
    margin-top: 0px;

}
.header-text h1 span{
    color: #ff004f;

}
.header-text h2 span{
    color:blueviolet
}
.header-text p{
    font-size: 22px;
    color:aqua;
}

.About-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #ff0057;
    background-image: linear-gradient(62deg, #ff0057 0%, #181719 100%);
}

.About-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);
}

.About-section>img {
    width: 10%;
    height: 20%;
    border-radius: 50%;
}

.About-section>p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-red);
}

.About-section>h3 {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 200;
    font-style: italic;
    padding: 10px;
    color: var(--main-black);
}

@media (max-width: 28.75em) {
    .About-section>img {
        width: 40%;
        padding-top: 5px;
        height: 30%;
        border-radius: 50%;
    }
    .About-section-header {
        font-size: 3rem;
    }
    .About-section>h1 {
        font-size: 3rem;
    }
    .About-section>p {
        font-size: 1.5rem;
        font-weight: 200;
        font-style: italic;
        color: var(--main-red);
    }
    .About-section>h3 {
        font-size: 1.5rem;
        letter-spacing: 1px;
        font-weight: 200;
        padding: 10px;
        font-style: italic;
        color: var(--main-black);
    }
}
.Gallery-section {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-blue);
}

.Gallery-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);
    font-size: 25;
}

@media (max-width: 28.75em) {
    .Gallery-section-header {
        font-size: 4rem;
    }
}


/* "Automagic" image grid using no media queries */

.Gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 20px auto 0;
    margin-bottom: 6rem;
    border-radius: 30px;
    outline: none;
}

@media (max-width: 30.625em) {
    .Gallery-section {
        padding: 6rem 1rem;
    }
    .Gallery-grid {
        grid-template-columns: 1fr;
    }
}

.Gallery {
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}




.code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
}



.Gallery:hover .code {
    color: #ff7f50;
}

.Gallery-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

.Gallery-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
    cursor: pointer;
    width : 150px;
    margin :20px auto 0;
    border-radius: 30px;  
}

.btn-show-all {
    font-size: 2rem;
    background: var(--main-gray);
    transition: background 0.3s ease-out;
}
.btn-order-here{
    font-size: 2rem;
    background: var(--main-gray);
    transition: background 0.3s ease-out;
}

.btn-show-all:hover {
    background: var(--main-red);
}

.btn-show-all:hover>i {
    transform: translateX(2px);
}

.btn-show-all>i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
    
}
.btn-order-here:hover{
    background: var(--main-red);
}
.btn-order-here:hover>i{
    transform: translateX(2px);
}

.btn-order-here>i{
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

@media (max-width: 28.75em) {
    .Gallery-section-header {
        font-size: 3rem;
    }
}
.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: var(--main-gray);
}

.contact-section-header>h2 {
    font-size: 6rem;
}

@media (max-width: 28.75em) {
    .contact-section-header>h2 {
        font-size: 4rem;
    }
}

.contact-section-header>p {
    font-style: italic;
}

.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

.contact-details:hover {
    transform: translateY(8px);
}


/*--------------------------------Footer---------------------------------*/

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-gray);
    border-top: 4px solid var(--main-red);
}

footer>p {
    margin: 2rem;
}

footer i {
    vertical-align: middle;
}

@media (max-width: 28.75em) {
    footer {
        flex-direction: column;
        text-align: center;
    }
}