:root {
    --main-white: #f0f0f0;
    --main-red: #a3d4f5;
    --main-blue: #45567d;
    --main-gray: #303841;
    --main-pink: #ff0057;
    --main-black: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

/*-----------------box-sizing and font sizing--------------*/

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/*-----------------------1200px / 16px = 75em----------------------*/

@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}

/*-------------------980px / 16px = 61.25em------------------------*/

@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}

/*-------------------460px / 16px = 28.75em-------------------------*/

@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}

/*---------------------Base styles--------------------------------*/

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
    background: linear-gradient(127deg, rgb(0, 0, 0) 43%, rgba(44,132,149,1) 100%);
}

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.2rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-white);
}

img {
    display: block;
    width: 100%;
}

#header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container {
    background-position-x: right;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(127deg, rgba(0,0,0,1) 43%, rgba(44,132,149,1) 100%);
    position: sticky;
    transition: background 0.3s ease-out;
}

.logo {
    width: 100px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-image {
    max-width: 600px;
    float: right;
    margin-top: 30px;
    width: 100%;
    height: auto;
}

.header-text {
    margin-top: 0px;
    font-size: 30px;
    padding: 9rem;
}

.header-text h1 {
    font-size: 50px;
    margin-top: 0px;
}

.header-text h1 span {
    color: #ff004f;
}

.header-text h2 span {
    color: blueviolet;
}

.header-text p {
    font-size: 22px;
    color: aqua;
}

.About-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    
    
    padding: 2rem;
}

.About-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);
}

.About-section>img {
    width: 10%;
    height: 20%;
    border-radius: 50%;
}

.About-section>p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-red);
}

.About-section>h3 {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 200;
    font-style: italic;
    padding: 10px;
    color: var(--main-black);
}

@media (max-width: 28.75em) {
    .About-section>img {
        width: 40%;
        padding-top: 5px;
        height: 30%;
        border-radius: 50%;
    }
    .About-section-header {
        font-size: 3rem;
    }
    .About-section>h1 {
        font-size: 3rem;
    }
    .About-section>p {
        font-size: 1.5rem;
        font-weight: 200;
        font-style: italic;
        color: var(--main-red);
    }
    .About-section>h3 {
        font-size: 1.5rem;
        letter-spacing: 1px;
        font-weight: 200;
        padding: 10px;
        font-style: italic;
        color: var(--main-black);
    }

    .see-more {
        display: inline;
        color: var(--main-pink);
        cursor: pointer;
    }

    .more-text {
        display: none;
    }

    .see-more.active + .more-text {
        display: inline;
    }
}

.Gallery-section {
    text-align: center;
    padding: 10rem 2rem;
     
}

.Gallery-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);
    font-size: 25;
}

@media (max-width: 28.75em) {
    .Gallery-section-header {
        font-size: 4rem;
    }
}

/* "Automagic" image grid using no media queries */

.Gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 20px auto 0;
    margin-bottom: 6rem;
    border-radius: 30px;
    outline: none;
    transition: transform 0.3s ease-out;
}

.Gallery-grid:hover {
    transform: scale(0.95);
}

@media (max-width: 30.625em) {
    .Gallery-section {
        padding: 6rem 1rem;
    }
    .Gallery-grid {
        grid-template-columns: 1fr;
    }
}

.Gallery {
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    transition: transform 0.3s ease-out, background-color 0.3s ease-out;
}

.code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
}

.Gallery:hover .code {
    transform: scale(0.95); /* Zoom out */
    background-color: #ff7f50;
}

.Gallery-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

.Gallery-title {
    padding: 2rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.Gallery:hover .Gallery-title{
    color: var(--main-black);
}
    .btn {
        display: inline-block;
        padding: 1rem 2rem;
        border-radius: 2px;
        background: var(--main-gray);
        color: var(--main-white);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        transition: background-color 0.3s ease-out, transform 0.3s ease-out;
    }

    .btn:hover {
        background-color: var(--main-red);
        transform: translateY(-0.2rem);
    }

    .btn:active {
        transform: translateY(0);
    }


.contact-section {
    text-align: center;
    padding: 10rem 2rem;
    /*background: linear-gradient(127deg, rgba(0,0,0,1) 43%, rgba(44,132,149,1) 100%);*/
}

.contact-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);
}

.contact-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.contact-details {
    display: inline-block;
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 2px;
    background: var(--main-gray);
    color: var(--main-white);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-out;
    cursor: pointer;
    font-weight: 700;
}

.contact-details:hover {
    background: #ff7f50;
    color: var(--main-black);
}

footer {
    text-align: center;
    padding: 2rem;
    background: var(--main-gray);
    color: var(--main-white);
}

footer p {
    font-size: 1.6rem;
    margin-top: 2rem;
}

footer p a {
    color: var(--main-pink);
    text-decoration: underline;
}

footer p a:hover {
    color: var(--main-white);
}

@media (max-width: 30.625em) {
    .contact-section {
        padding: 6rem 1rem;
    }
    .contact-details {
        font-size: 1.4rem;
        padding: 1rem 1.5rem;
    }
}
